%%-*- mode: erlang -*-

%% Require a certain version of Erlang
{require_otp_vsn, "R16|R16B01|R16B02"}.

%% Specify library paths
{lib_dirs, ["lib", "lib/webmachine/"]}.

%% Edoc options
{edoc_opts, [{preprocess, true}]}.

%% Eunit options
%% Checks coverage of unit tests
{cover_enabled, true}.
{eunit_opts, [verbose]}.

%% Erlang compiler options
{erl_opts, [debug_info,
	    verbose,

	    %% This will not work at the moment because there is a problem with static_resources.erl.
	    %%warnings_as_errors,

	    %% This is needed because there are files in src/ that includes a file from here
	    %% If header files from other libraries needs to be included, then the path to that include
	    %% included below (as a separate {i, Dir} entry)
	    {i, "lib/webmachine/include/"}
	   ]}.

{deps_dir, ["lib"]}.
{deps, [{webmachine, "1.10.*", {git, "git://github.com/basho/webmachine", "HEAD"}},
	{erlastic_search, ".*", {git, "git://github.com/tsloughter/erlastic_search.git", {branch, "helllamer_changes"}}}
]}.
