%%-*- mode: erlang -*-

%% Require a certain version of Erlang
{require_otp_vsn, "R16|R16B01|R16B02"}.

%% Specify library paths
{lib_dirs, ["lib"]}.


%% Edoc options
{edoc_opts, [{packages, false},{private, true}]}.

%% Eunit options
%% Checks coverage of unit tests
{cover_enabled, true}.
{eunit_opts, [verbose,
	      {report, {eunit_surefire, [{dir, "."}]}}
	     ]}.

%% Erlang compiler options
{erl_opts, [debug_info,
	    verbose,
	    %% strong_validation,
	    return,
	    warn_export_all,
	    %% This is needed because there are files in src/ that includes a file from here
	    %% If header files from other libraries needs to be included, then the path to that include
	    %% included below (as a separate {i, Dir} entry)
	    {i, "include/"},
	    {i, "lib/erlastic_search/include/"},
	    {i, "lib/erlson/include/"},
	    {i, "lib/rabbitmq-erlang-client/include/"},
	    {i, "lib/webmachine/include/"},
	    {src_dirs, ["src","test"]},
	    {d, debug}

	   ]}.

{deps_dir, ["lib"]}.
{deps, [
	{webmachine, "1.10.*", {git, "git://github.com/basho/webmachine", "HEAD"}},
	{erlastic_search, ".*", {git, "git://github.com/projectcs13/erlastic_search.git", {branch, "master"}}},
	{elasticsearch,	".*", {git, "git://github.com/projectcs13/elasticsearch.git", {branch, "develop_silver_bullet"}}, [raw]},
	{"rabbitmq-server", ".*", {git, "git://github.com/rabbitmq/rabbitmq-server.git", {tag, "rabbitmq_v3_1_5"}}, [raw]},
	{"rabbitmq-codegen", ".*", {git, "git://github.com/rabbitmq/rabbitmq-codegen.git", {tag, "rabbitmq_v3_1_5"}}, [raw]},
	{"rabbitmq-erlang-client", ".*", {git, "git://github.com/rabbitmq/rabbitmq-erlang-client.git", {tag, "rabbitmq_v3_1_5"}}, [raw]},
	{rErlang, ".*", {git, "git://github.com/projectcs13/rErlang.git", {branch, "master"}}, [raw]},
	{erlson, "", {git, "https://github.com/projectcs13/erlson.git", {branch, "master"}}},
	{mochijson2, "", {git, "https://github.com/bjnortier/mochijson2.git", {branch, "master"}}}
]}.

{plugins, [erlson_rebar_plugin]}. % for newer rebar
