%%-*- mode: erlang -*-

%% Require a certain version of Erlang
{require_otp_vsn, "R16|R16B01|R16B02"}.

%% Specify library paths
{lib_dirs, ["lib", "lib/webmachine/"]}.

%% Edoc options
{edoc_opts, [{packages, false},{private, true}]}.

%% Eunit options
%% Checks coverage of unit tests
{cover_enabled, true}.
{eunit_opts, [verbose,
	      {report, {eunit_surefire, [{dir, "."}]}}
	     ]}.

%% Erlang compiler options
{erl_opts, [debug_info,
	    verbose,

	    %% This is needed because there are files in src/ that includes a file from here
	    %% If header files from other libraries needs to be included, then the path to that include
	    %% included below (as a separate {i, Dir} entry)
	    {i, "lib/erlastic_search/include/"},
	    {i, "lib/webmachine/include/"},
	    {src_dirs, ["src","test"]}
	    
	   ]}.

{deps_dir, ["lib"]}.
{deps, [{webmachine, "1.10.*", {git, "git://github.com/basho/webmachine", "HEAD"}},
	{erlastic_search, ".*", {git, "git://github.com/projectcs13/erlastic_search.git", {branch, "helllamer_changes"}}},
	{elastic_search, ".*", {git, "git://github.com/projectcs13/elasticsearch.git", {branch, "configured"}}, [raw]}
	
]}.
