%%-*- mode: erlang -*-
[{engine, [
	   %% Specifies the log directory for the main application.
	   {engine_log_dir, "log"},    %Relative from the engine application root
	   
	   %% Specifies the cluster name for elastic search
	   {es_cluster_name, "engine"},
	   
	   %% Specifies the directory for the elastic search data
	   {es_db_dir, "data"},        %Relative from lib/elastic_search/
	   
	   %% Specifies the ip address for elastic search
	   {es_ip, "127.0.0.1"}
	   
	   %% Specifies the log directory for elastic search
	   {es_log_dir, ""},           %Relative from the engine application root
	   
	   %% Specifies the port number for elastic search
	   {es_port, 9200},
	   
	   %% Specifies the log directory for rabbit_mq
	   {rabbit_mq_log_dir, ""},    %Relative from the engine application root
	   
	   %% Specifies the log directory for webmachine
	   {webmachine_log_dir, ""},   %Relative from the engine application root
	   
	   %% Specifies the port number for webmachine
	   {webmachine_port, 8000}
	  ]}
].
