%%-*- mode: erlang -*-
[{engine, [
	   {engine_log_dir, "log"},    %Relative from the engine application root
	   {es_cluster_name, "engine"},
	   {es_db_dir, "data"},        %Relative from lib/elastic_search/
	   {es_ip, "127.0.0.1"},
	   {es_log_dir, ""},           %Relative from the engine application root
	   {es_port, 9200},
	   {rabbit_mq_log_dir, ""},    %Relative from the engine application root
	   {webmachine_log_dir, ""},   %Relative from the engine application root
	   {webmachine_port, 8000}
	  ]}
].
