%%-*- mode: erlang -*-
[{engine, [
	   %% Specifies the log directory for the main application.
	   {engine_log_dir, "priv/logs"},    %Relative from the engine application root or absolute path
	   
	   %% Specifies the cluster name for elastic search
	   {es_cluster_name, "engine"},
	   
	   %% Specifies the directory for the elastic search data
	   {es_db_dir, "priv/data"}, %Relative from engine application root or absolute path

	   %% Specifies the directory for the elastic search additional data directories
	   %%The value for this needs to be specified as a string with each directory passed seperated with a comma
	   %% Example: "Path/To/Data1,Path/To/Data2"
	   {es_db_extra_dir, ""}, %List with paths relative from engine application root or absolute paths
	   
	   %% Specifies the ip address for elastic search
	   {es_ip, "localhost"},
	   
	   %% Specifies the log directory for elastic search
	   {es_log_dir, "priv/logs"}, %Relative from the engine application root or absolute path
	   
	   %% Specifies the port number for elastic search
	   {es_port, 9200},
	   
	   %% Specifies the log directory for nodejs
	   {nodejs_log_dir, "priv/logs"}, %Relative from the engine application root or absolute path

	   %% Specifies the log directory for rabbit_mq
	   {rabbit_mq_log_dir, "priv/logs"}, %Relative from the engine application root or absolute path

	   %% Specifies the log directory for rabbit_mq
	   {rabbit_mq_ip, "localhost"},

	   %% Specifies the log directory for rabbit_mq
	   {rabbit_mq_port, 5672},
	   
	   %% Specifies the log directory for webmachine
	   {webmachine_log_dir, "priv/logs"}, %Relative from the engine application root or absolute path
	   
	   %% Specifies the port number for webmachine
	   {webmachine_port, 8000}
	  ]}
].
